<div class="title-gray">
    Integrante {{index}} de {{total}}
</div>
<form name="addefamily" action="#" class="form-gray notify-on-error i-form" data-notify="#dialog" method="post" target="_top" id="formefamily">
    <div class="flagarea" hidden style="display: none">
        <input type="hidden" class="form-control" value="{{flags.type}}" name="flag" id="flag">
        <input type="hidden" class="form-control" value="{{memberid}}" name="memberid" id="memberid">
        <input type="hidden" class="form-control" value="{{relatedid}}" name="relatedid" id="relatedid">
        <input type="hidden" class="form-control" value="{{alreadyExists}}" name="alreadyExists" id="alreadyExists">
    </div>
    <div class="step-container">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-container-s">
                    <div class="grid-item">
                        <div class="form-validation-group">
                            <div class="form-group">
                                <input class="form-control uppercase letters" name="fam_name" id="fam_name" type="text" data-placeholder="Nombre" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-validation-group">
                            <div class="form-group">
                                <input class="form-control uppercase letters lastnameb" name="fam_appat" id="fam_appat" type="text" data-placeholder="Apellido paterno" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-group">
                            <div class="item-fill">
                                <div class="item-corner">
                                    <div class="checkbox-area">
                                        <span class="checkbox" data-targetdisable="#fam_appat" data-targettoggle="#m_checklastname" id="m_checkfirstname"><i class="bbva-icon ui-checkmark"></i></span>
                                        <span class="text">No tiene apellido paterno</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-validation-group">
                            <div class="form-group">
                                <input class="form-control uppercase letters lastnameb" name="fam_apmat" id="fam_apmat" type="text" data-placeholder="Apellido materno" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-group">
                            <div class="item-fill">
                                <div class="item-corner">
                                    <div class="checkbox-area">
                                        <span class="checkbox" data-targetdisable="#fam_apmat" data-targettoggle="#m_checkfirstname" id="m_checklastname"><i class="bbva-icon ui-checkmark"></i></span>
                                        <span class="text">No tiene apellido materno</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-container-s">
                    <div class="grid-item">
                        <div class="form-group-select required" id="fam_relationship">
                            <div class="option-select">
                                <div class="select-title sl">
                                    <span class="option-text sl center">Parentesco</span>
                                    <span class="selected-option sl"></span>
                                    <i class="bbva-icon ui-simple-down sl"></i>
                                </div>
                                <div class="list-result"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item" id="fam_other_relationship" style="display: none">

                        <div class="form-validation-group fixed-radiosel">
                            <div class="form-group">
                                <input class="form-control uppercase letters" name="tutorslastname"
                                    id="fam_o_relationship" type="text" data-placeholder="Especifica parentesco"
                                    autocomplete="off" maxlength="100">
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-group-select required" id="fam_lives">
                            <div class="option-select">
                                <div class="select-title sl">
                                    <span class="option-text sl center">&iquest;D&oacute;nde vive?</span>
                                    <span class="selected-option sl"></span>
                                    <i class="bbva-icon ui-simple-down sl"></i>
                                </div>
                                <div class="list-result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <div class="form-group-select required" id="fam_ocupation">
                    <div class="option-select">
                        <div class="select-title sl">
                            <span class="option-text sl center">Ocupaci&oacute;n principal</span>
                            <span class="selected-option sl"></span>
                            <i class="bbva-icon ui-simple-down sl"></i>
                        </div>
                        <div class="list-result"></div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="form-validation-group">
                    <div class="form-group">
                        <input class="form-control mxnamount e-tooltip-f" name="totalf" id="total_f" type="text" data-placeholder="&iquest;Con cu&aacute;nto dinero apoya mensualmente a tu hogar?"  autocomplete="off" required data-tooltitle="Considera &uacute;nicamente el dinero que esta persona aporta a tu hogar">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actionsection">
        <div class="submtbtn">
            <span title="{{flags.text}}" aria-label="{{flags.text}}" class="btn__basic btn__submit" id="efamilyformbtn">
                <span aria-hidden="true">{{flags.text}}</span>
            </span>
        </div>
    </div>
</form>