<div class="title-gray">
    {{title}}
</div>
<form name="fam_bbva" action="#" class="form-gray notify-on-error i-form" data-notify="#dialog" method="post" target="_top" id="fam_bbva">
    <div class="flagarea" hidden style="display: none">
        <input type="hidden" class="form-control" value="{{alreadyExists}}" name="alreadyExists" id="alreadyExists">
        <input type="hidden" class="form-control" value="{{relatedid}}" name="relatedid" id="relatedid">
    </div>
    <div class="step-container">
        <div class="grid-container">
            <div class="grid-item">
                <div class="grid-container-s">
                    <div class="grid-item">
                        <div class="grid-container-s">
                            <div class="grid-item">
                                <div class="form-validation-group">
                                    <div class="form-group">
                                        <input class="form-control uppercase letters" name="full_name_fbbva" id="name_fbbva" type="text" data-placeholder="Nombre" required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid-container-s">
                            <div class="grid-item">
                                <div class="form-validation-group">
                                    <div class="form-group">
                                        <input class="form-control uppercase letters lastnameb" name="lastname_fbbva" id="lastname_fbbva" type="text" data-placeholder="Apellido paterno" required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="item-fill">
                            <div class="item-corner">
                                <div class="checkbox-area">
                                    <span class="checkbox" data-targetdisable="#lastname_fbbva" data-targettoggle="#checklastname_fbbva" id="checkfirstname_fbbva"><i class="bbva-icon ui-checkmark"></i></span>
                                    <span class="text">No tiene apellido paterno</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid-container-s">
                            <div class="grid-item">
                                <div class="form-validation-group">
                                    <div class="form-group">
                                        <input class="form-control uppercase letters lastnameb" name="slastname_fbbva" id="slastname_fbbva" type="text" data-placeholder="Apellido materno" required autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="item-fill">
                            <div class="item-corner">
                                <div class="checkbox-area">
                                    <span class="checkbox" data-targetdisable="#slastname_fbbva" data-targettoggle="#checkfirstname_fbbva" id="checklastname_fbbva"><i class="bbva-icon ui-checkmark"></i></span>
                                    <span class="text">No tiene apellido materno</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="grid-container-s">
                    <div class="grid-item">
                        <div class="grid-container-s">
                            <div class="grid-item">
                                <div class="form-group-select required" id="relationship_b">
                                    <div class="option-select">
                                        <div class="select-title sl">
                                            <span class="option-text sl center">Parentesco</span>
                                            <span class="selected-option sl"></span>
                                            <i class="bbva-icon ui-simple-down sl"></i>
                                        </div>
                                        <div class="list-result"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item" id="other_relationship_b" style="display: none">
                                <div class="form-validation-group fixed-radiosel">
                                    <div class="form-group">
                                        <input class="form-control letters" name="relationship_b_o" id="relationship_b_o" type="text" data-placeholder="Especifica parentesco" autocomplete="off" maxlength="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-validation-group fixed-radiosel">
                            <div class="form-group">
                                <input class="form-control" name="workposition_fbbva" id="workposition_fbbva" type="text" data-placeholder="Puesto/cargo" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="form-validation-group">
                            <div class="form-group">
                                <input class="form-control" name="workstation_fbbva" id="workstation_fbbva" type="text" data-placeholder="&Aacute;rea en la que labora" required autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actionsection">
            <div class="submtbtn">
                <span title="Enviar" aria-label="Enviar" class="btn__basic btn__submit" id="familybbvabtn">
                    <span aria-hidden="true">Aceptar</span>
                </span>
            </div>
        </div>
    </div>
</form>