<div class="notification info">
    <div class="wrapper">
        <div class="icon"><i class="bbva-icon"></i></div>
        <div class="message">
            <div class="message__heading">Revisa que la siguiente informaci&oacute;n sea la correcta.</div><span class="message__body">Llena todos los campos faltantes</span>
        </div>
    </div>
</div>
<form name="reportschool" action="#" class="form-gray notify-on-error" data-notify="#dialog" method="post" target="_top" id="formschool">
    <div class="step-header">
        <i class="bbva-icon ui-gradution-cap"></i>Datos de la escuela
    </div>
    <div class="step-container">
        <div class="subtitle-sec">Ubicaci&oacute;n de la escuela donde estudiar&aacute;s</div>
        <div class="grid-container">
            <div class="grid-item">
                <div class="form-group-select whitwait states required" id="m_state_s">
                    <div class="option-select">
                        <div class="select-title sl">
                            <span class="option-text sl center">Estado</span>
                            <span class="selected-option sl"></span>
                            <i class="bbva-icon ui-simple-down sl"></i>
                        </div>
                        <div class="list-result"></div>
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="form-group-select required" id="m_municipalities_s">
                    <div class="option-select disabled">
                        <div class="select-title sl">
                            <span class="option-text sl center">Municipio</span>
                            <span class="selected-option sl"></span>
                            <i class="bbva-icon ui-simple-down sl"></i>
                        </div>
                        <div class="list-result"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-item">
                <div class="form-group-select required" id="schoolType">
                    <div class="option-select">
                        <div class="select-title sl">
                            <span class="option-text sl center">Selecciona el tipo de
                                escuela</span>
                            <span class="selected-option sl"></span>
                            <i class="bbva-icon ui-simple-down sl"></i>
                        </div>
                        <div class="list-result"></div>
                    </div>
                </div>
            </div>
            <div class="grid-item" >
                <div class="form-validation-group">
                    <div class="form-group">
                        <input class="form-control" name="m_school" id="m_school" type="text" data-placeholder="Nombre de la escuela" required autocomplete="off">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actionsection">
        <div class="submtbtn right">
            <span title="Regresar" aria-label="Regresar"
                class="btn__basic btn__clearbg closemodal" style="float: left;padding: 12px 0px;">
                <i class="bbva-icon ui-arrow-left"></i>
                <span aria-hidden="true">Regresar</span>
            </span>
            <span title="Enviar" aria-label="Enviar" class="btn__basic btn__submit" id="schoolform">
                <span aria-hidden="true">Enviar</span>
            </span>
        </div>
    </div>
</form>