<div class="body" id="ariaText1b">
    <div class="title-modal" id="notifications">
        Notificaciones
    </div>

    <div class="noticia_InfoTexto">
        <ul class="notListadoLista notLista lista_1col" style="padding: 16px 0;">

            <li style="cursor: pointer;">
                <i class="bbva-icon ui-receipt"></i>
                <span class="textoIconoColocar">Juan Ramírez aprobó contabilización Teresa Juarez 05/11/2019</span>
            </li>
            <li class="listaItem_middle">
                <i class="bbva-icon ui-receipt"></i>
                <span class="textoIconoColocar">Juan Ramírez aprobó contabilización Teresa Juarez 05/11/2019</span>
            </li>
            <li class="listaItem_middle">
                <i class="bbva-icon ui-receipt"></i>
                <span class="textoIconoColocar">Juan Ramírez aprobó contabilización Teresa Juarez 05/11/2019</span>
            </li>
            <li class="listaItem_middle">
                <i class="bbva-icon ui-receipt"></i>
                <span class="textoIconoColocar">Juan Ramírez aprobó contabilización Teresa Juarez 05/11/2019</span>
            </li>
            <li class="listaItem_middle">
                <i class="bbva-icon ui-receipt"></i>
                <span class="textoIconoColocar">Juan Ramírez aprobó contabilización Teresa Juarez 05/11/2019</span>
            </li>
        </ul>
    </div>
    <hr>

    <div style="text-align: center;">
        <p class="notLink" style="font-family: BentonMedium; font-size: 15px; line-height: 24px; color: #1973B8;">
            <a href=""><i class="bbva-icon ui-show"></i><span class="textoIconoColocar">Ver todas las notificaciones</span></a>
        </p>
    </div>
</div>