<div class="body" id="ariaText1b">
    <div class="title-modal" style="font-size: 24px;" id="notifications">
        Notificaciones
    </div>

    <div class="noticia_InfoTexto">
        <ul class="notListadoLista notLista lista_1col" style="padding: 16px 16px;">
            <li class="notify-li">
                <i class="bbva-icon ui-receipt"></i>
                <span class="notify-content">
                    <span class="notify-date">
                        05-11-2019
                    </span>
                    <br>
                    <div>
                        <span>Director Regional
                            <span class="notify-action">autorizó</span>
                            contabilización de Juan Cruz López
                        </span>
                    </div>
                </span>
            </li>
            <hr>
            <li class="notify-li">
                <i class="bbva-icon ui-receipt"></i>
                <span class="notify-content">
                    <span class="notify-date">
                        05-11-2019
                    </span>
                    <br>
                    <div>
                        <span>Abogado Interno
                            <span class="notify-action">aprobó</span>
                            contabilización de Juan Cruz López
                        </span>
                    </div>
                </span>
            </li>
            <hr>
            <li class="notify-li">
                <i class="bbva-icon ui-receipt"></i>
                <span class="notify-content">
                    <span class="notify-date">
                        05-11-2019
                    </span>
                    <br>
                    <div>
                        <span>Mesa de Control
                            <span class="notify-action">generó</span>
                            baja contable de Juan Cruz López
                        </span>
                    </div>
                </span>
            </li>
            <hr>
            <li class="notify-li">
                <i class="bbva-icon ui-receipt"></i>
                <span class="notify-content">
                    <span class="notify-date">
                        21-09-2019
                    </span>
                    <br>
                    <div>
                        <span>Director Regional
                            <span class="notify-action">autorizó</span>
                            contabilización de Juan Cruz López
                        </span>
                    </div>
                </span>
            </li>
            <hr>
            <li class="notify-li">
                <i class="bbva-icon ui-receipt"></i>
                <span class="notify-content">
                    <span class="notify-date">
                        05-11-2019
                    </span>
                    <br>
                    <div>
                        <span>Mesa de Control
                            <span class="notify-action">generó</span>
                            baja contable de Juan Cruz López
                        </span>
                    </div>
                </span>
            </li>
            <hr>
        </ul>
    </div>

    <div style="text-align: center;">
        <a href="notifications.html" class="notify-footer" style=" font-family: BentonSansBBVA-Bold; color: #1973B8;">
            <i class="bbva-icon ui-show"></i>
            <span class="textoIconoColocar">Ver todas las notificaciones</span>
        </a>
    </div>
</div>