<form name="form" action="#" class="form-gray" method="post" target="_top" id="formlogin">
    <div class="title-gray">
        {{title}}
    </div>
    <div class="step-container">
        <div class="grid-c">
            <div class="grid-item">
                <div class="form-validation-group">
                    <div class="form-group">
                        <input class="form-control uppercase alphanumeric" name="curp" id="curpR" type="text" data-placeholder="CURP" required autocomplete="off" maxlength="18" data-regex="CURP">
                    </div>
                </div>
            </div>
            <div class="grid-item">
                <div class="submtbtn query_curp">
                    <span title="Consulta tu CURP haciendo click aquí" aria-label="Consulta tu CURP haciendo click aquí" class="btn__basic btn__clearbg">
                        <i class="bbva-icon ui-info"></i>
                        <span aria-hidden="true">Consulta tu CURP aquí</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="actionsection">
        <div class="submtbtn">
            <span title="Enviar" aria-label="Enviar" class="btn__basic btn__submit" id="btn_recover">
                <span aria-hidden="true">Enviar</span>
            </span>
        </div>
    </div>
</form>