<tr class="" id="7">
    <td style="text-align: left;">
        <span>76982937337236651112</span>
    </td>
    <td style="text-align: left;">
        <span>Luis Gutiérrez Orozco</span>
    </td>
    <td style="text-align: left;">
        <span>En proceso</span>
    </td>
    <td style="text-align: left;">
        <span>Oscar Martínez Ojeda</span>
    </td>
    <td style="text-align: center;">
        <span>No</span>
    </td>
    <td style="text-align: center;">
        <!-- <span style="background-color: #f8cd51;font-family: BentonSansBBVA-Bold;color: #fff;">&nbsp;&nbsp;</span> -->
        <!-- <span style="font-family: BentonSansBBVA-Bold; color: #f8cd51">10</span> -->
        <div style="border-radius: 9px; background-color:#f8cd51;font-family: BentonSansBBVA-Bold;color: #fff;">10</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
         sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>76982937337236651112</span>
    </td>
    <td style="text-align: left;">
        <span>Karla Fonseca Gutiérrez</span>
    </td>
    <td style="text-align: left;">
        <span>En proceso</span>
    </td>
    <td style="text-align: left;">
        <span>Oscar Martínez Ojeda</span>
    </td>
    <td style="text-align: center;">
        <span>No</span>
    </td>
    <td style="text-align: center;">
        <!-- <span style="background-color: #f8cd51;font-family: BentonSansBBVA-Bold;color: #fff;">&nbsp;&nbsp;</span> -->
        <!-- <span style="font-family: BentonSansBBVA-Bold; color: #f8cd51">10</span> -->
        <div style="border-radius: 9px; background-color:#f8cd51;font-family: BentonSansBBVA-Bold;color: #fff;">9</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
         sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
        <tr class="" id="7">
    <td style="text-align: left;">
        <span>64312929189821228787</span>
    </td>
    <td style="text-align: left;">
        <span>Enrique Jimenez Barrera</span>
    </td>
    <td style="text-align: left;">
        <span>Contabilizado</span>
    </td>
    <td style="text-align: left;">
        <span>Mariana Dominguez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <!-- <span style="font-family: BentonSansBBVA-Bold; color: green">1</span> -->
        <div style="border-radius: 9px; background-color:green;font-family: BentonSansBBVA-Bold;color: #fff;">1</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>	

<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Juan Cruz López</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">31</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Ramiro Acosta Ruiz</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">30</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Betzabe Moraima Ojeda</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">28</div>
        <!-- <span style="font-family: BentonSansBBVA-Bold; color: red">21</span> -->
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Teresa Gomez Ramirez</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">28</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Yaneli Rojas Vazquez</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">27</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>
<tr class="" id="7">
    <td style="text-align: left;">
        <span>81291289123276121982</span>
    </td>
    <td style="text-align: left;">
        <span>Antonio Lopez Marron</span>
    </td>
    <td style="text-align: left;">
        <span>Incompleto</span>
    </td>
    <td style="text-align: left;">
        <span>Felipe Contreras Sánchez</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
        <div style="border-radius: 9px; background-color: red;font-family: BentonSansBBVA-Bold;color: #fff;">25</div>
    </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr> 
                            <tr class="" id="7">
    <td style="text-align: left;">
        <span>10887761223128763212</span>
    </td>
    <td style="text-align: left;">
        <span>Nayeli Rojas Juárez</span>
    </td>
    <td style="text-align: left;">
        <span>Suspendido</span>
    </td>
    <td style="text-align: left;">
        <span>Carla Chavez Ojeda</span>
    </td>
    <td style="text-align: center;">
        <span>Si</span>
    </td>
    <td style="text-align: center;">
            <!-- <span style="font-family: BentonSansBBVA-Bold; color: green">2</span> -->
            <div style="border-radius: 9px; background-color:green;font-family: BentonSansBBVA-Bold;color: #fff;">2</div>
        </td>
    <td style="text-align: center;">
        <i class="bbva-icon ui-filled-diagonal
            sl" style="cursor: pointer;color: #1973B8;"></i>
    </td>
</tr>  
<script>
    $(".ui-filled-diagonal").click(function() {
             location.href="index.html";
          });
  
      </script>	
    

            
