<div class="title-gray">
    Selecciona el Jefe del hogar
</div>
<form name="form" action="#" class="form-gray notify-on-error" method="post" target="_top" id="formselectboss">
    <div class="step-container">
        <div class="notification info">
            <div class="wrapper">
                <div class="icon"><i class="bbva-icon"></i></div>
                <div class="message">
                    <div class="message__heading">De la siguiente lista, selecciona solo al jefe del hogar</div><span class="message__body">Es la persona que toma la mayor parte de las decisiones en el hogar</span>
                </div>
            </div>
        </div>
        <div class="list-member" id="list-member">
            {{#members}}
                <div class="grid-container-s">
                    <div class="grid-item">
                        <div class="item-fill">
                            <div class="item-corner">
                                <div class="checkbox-area">
                                    <span class="checkbox" data-index="{{memberid}}"><i class="bbva-icon ui-checkmark"></i></span>
                                    {{fam_name}} {{fam_appat}} {{fam_apmat}} / {{fam_relationship_des}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/members}}
            <div class="actionsection">
                <div class="submtbtn">
                    <span title="Enviar" aria-label="Enviar" class="btn__basic" id="btn_accept">
                        <span aria-hidden="true">Aceptar</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>